<launch>
  <arg name="server" default="192.168.0.111"/>
  <arg name="robot_rigid_body_name" default="Q250_Quadcopter"/>
  <arg name="people1_name" default="obstacle"/>
  <arg name="people2_name" default="obstacle2"/>


<!--   <node pkg="tf" type="static_transform_publisher" name="map_odom"
          args="0 0 0 0 0 0 map odom 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="odom_world"
	          args="0 0 -0.16 1.5707 0 0 odom world 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_rigid_body_name)_baselink"
		args="0 0 0 0 0 0 $(arg robot_rigid_body_name) base_link 1000" /> -->


  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883

      update_frequency: 100.0
      frame_id: world

      # Use the VRPN server's time, or the client's ROS time.
      use_server_time: false
      broadcast_tf: true

      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      #trackers:
      #- FirstTracker
      #- SecondTracker
    </rosparam>
    <remap from="/vrpn_client_node/$(arg robot_rigid_body_name)/pose" to="/mavros/vision_pose/pose_raw"/>
    <remap from="/vrpn_client_node/$(arg people1_name)/pose" to="/mocap/model1_state_raw"/>
    <remap from="/vrpn_client_node/$(arg people2_name)/pose" to="/mocap/model2_state_raw"/>

  </node>	

  <param name="/mocap/topic_name" type="yaml" value="['/mocap/model1_state_raw','/mocap/model2_state_raw']"/>

  <node pkg="mocap_ros" type="obstacle_pose_transform_node" name="obstacle_pose_transform_node" output="screen"/>

</launch>
